<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us</title>
  <link rel="icon" href="\static\images\favicon.ico">
  
  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="\static\style\lux.min.css">
  <link rel="stylesheet" type="text/css" href="\static\style\style.css">

  <link rel="shortcut icon" href="#" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/plots">Plots</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/methodology">Methodology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About Us</a>
        </li>
      </ul>
    </div>
  </nav>
  <br></br>
  <h1 align="center">Meet the Creators</h1>
  <br></br>
  <div class="row aboutus">
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <img src="/static/images/Michael.jpg" alt="Michael" style="width:100%">
        <div class="container">
          <h2>Michael Cary Jr.</h2>
          <p class="title">Assistant Professor &amp; Data Scientist</p>
          <a class="nav-link" href="https://www.linkedin.com/in/michael-cary-jr-80803617/" target="_blank">Michael's LinkedIn</a>
          <a class="nav-link" href="https://github.com/mpc24-dataanalytics" target="_blank">Michael's GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <img src="/static/images/John.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Costa</h2>
          <p class="title">Data Scientist &amp; Web Designer</p>
          <a class="nav-link" href="https://www.linkedin.com/in/johndavidcosta/" target="_blank">John's LinkedIn</a>
          <a class="nav-link" href="https://github.com/johncosta313" target="_blank">John's GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <img src="/static/images/Ashish.jpg" alt="Ashish" style="width:100%">
        <div class="container">
          <h2>Ashish Karki</h2>
          <p class="title">Data Engineer &amp; Software Developer</p>
          <a class="nav-link" href="https://www.linkedin.com/in/ashishkarki/" target="_blank">Ashish's LinkedIn</a>
          <a class="nav-link" href="https://github.com/akarki23" target="_blank">Ashish's GitHub</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row aboutus">
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <img src="/static/images/Cheryl.jpg" alt="Cheryl" style="width:100%">
        <div class="container">
          <h2>Cheryl Hornung</h2>
          <p class="title">Data Scientist &amp; Web Designer</p>
          <a class="nav-link" href="https://www.linkedin.com/in/cherylhornung/" target="_blank">Cheryl's LinkedIn</a>
          <a class="nav-link" href="https://github.com/cfhornung" target="_blank">Cheryl's GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <img src="/static/images/Guillermo.jpg" alt="Guillermo" style="width:100%">
        <div class="container">
          <h2>Guillermo Huertas</h2>
          <p class="title">Data Scientist &amp; Web Designer</p>
          <a class="nav-link" href="" target="_blank">Guillermo's LinkedIn</a>
          <a class="nav-link" href="https://github.com/ghuertas629" target="_blank">Guillermo's GitHub</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <img src="/static/images/Henry.jpg" alt="Henry" style="width:100%">
        <div class="container">
          <h2>Henry Randall</h2>
          <p class="title">Data Scientist &amp; Web Designer</p>
          <a class="nav-link" href="https://www.linkedin.com/in/henry-randall-4b7809110" target="_blank">Henry's LinkedIn</a>
          <a class="nav-link" href="https://github.com/HenryRandall" target="_blank">Henry's GitHub</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Popper.js, and jQuery for bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
